@import '~antd/dist/antd.css';

:root {
  --email-list-container-width: 400px;
  --sidebar-width: 200px;

  --color-border: #e1e6ed;
  --color-email-list-background: white;
  --color-email-date: #848c9b;
  --color-unread-email-badge: #3b82de;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
